#ansible.cfg
[defaults]
#interpreter_python = auto_silent

# ===================== PATHS ======================
inventory                  = ./inventory
roles_path                 = ./roles
library                    = ./library

# ===================== CONEXÃO ====================
remote_user                = ansible
private_key_file           = ~/.ssh/ansible_key
host_key_checking          = False
timeout                    = 30

# ===================== PRIVILÉGIOS ================
become                     = True
become_method              = sudo
become_user                = root
become_ask_pass            = False

# ===================== PERFORMANCE =================
forks                      = 20
gathering                  = smart

# Cache leve
fact_caching               = jsonfile
fact_caching_connection    = ~/.ansible/facts
fact_caching_timeout       = 3600

# ===================== OUTPUT ======================
stdout_callback            = default
callback_whitelist         = ansible.posix.timer,ansible.posix.profile_tasks,ansible.posix.profile_roles
callbacks_enabled          = ansible.posix.timer,ansible.posix.profile_tasks,ansible.posix.profile_roles
callback_format_pretty     = True
callback_result_format     = yaml
callback_result_identation = 2
bin_ansible_callbacks      = True

# ===================== SEGURANÇA ===================
allow_world_readable_tmp    = False

# ===================== INVENTÁRIO ==================
[inventory]
enable_plugins             = host_list, script, auto, yaml, ini, toml
cache                      = True
cache_plugin               = jsonfile
cache_connection           = ~/.ansible/inventory_cache
cache_timeout              = 300

# ===================== SSH / LINUX =================
[ssh_connection]
ssh_args                   = -o ControlMaster=auto -o ControlPersist=120s -o ServerAliveInterval=60
pipelining                 = True
control_path_dir           = ~/.ssh/ansible_cp
control_path               = ~/.ssh/ansible_cp/ansible-%%r@%%h:%%p
scp_if_ssh                 = True
retries                    = 3

# ===================== CONEXÃO PERSISTENTE =========
[persistent_connection]
connect_timeout            = 30
command_timeout            = 30